
body{
    display: flex;
    justify-content: flex-start;
    min-height: 800px;
    border: 2px solid black;
    align-items: flex-start;
    flex-wrap: wrap;
}
.box{
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oreder-test{
    order: 1;
}

.order-first{
    order: -1;
}