.wrapper{
border-radius: 1em;  
width: 30em;  
/* position: relative; */
display: grid;
place-items: end;
}
img{
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 1em;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.text{
    /* background-color: lightcyan; */
    color: white;
    height: max-content;
    /* position: absolute; */
    left: 0;
    bottom: 0;
    padding: 2em;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}