.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 1em;
}
.product{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 34px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.product p{
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0.1em;
}