body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box-module{
   height: 200px;
   width: 200px; 
   background-color: red;
   padding: 10px;
   border: 1px solid black;
   margin: 10px;
   box-sizing: border-box; 
   /* width fix to 200 */

   /* width increase add border + margin + padding box-sizing:border-content */
}