html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.nav-bar {
  display: flex;
  width: auto;
  height: 50px;
  background-color: aqua;
  align-items: center;
  padding: 0 5px;
  flex-shrink: 0;
}
.leftside {
  width: 25%;
}
.rightside {
  width: 75%;
  display: flex;
  justify-content: flex-end;
}
.footer {
  height: 100px;
  background-color: aqua;
  display: inline-block;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.main-conatiner {
  flex: 1;
}
img {
  width: 100%;
  height: auto;
}
.container-shoe {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 1em;
  padding: 10px;
}
.test-shoe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 14px 34px rgba(0, 0, 0, 0.08);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transform: all 0.3s ease;
}
.test-shoe:hover {
  transform: scale(1.05);
  box-shadow: 1px 14px 34px rgba(0, 0, 0, 0.08);
}
