.grid-test{
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 1em;
}
.subgrid-tes{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    background-color: rgb(0, 255, 162);
    color: black;
    padding: 5px;
    box-shadow: 1px 14px 30px rgba(0, 0, 0, 1.8);
    transition: all 0.3s ease;
}
.header{
    font-size: 30px;
    padding: 5px;
    font-weight: 700;
}
button{
    height: 30px;
    background: antiquewhite;
    font-size: 15px;
    cursor: pointer;
}
.subgrid-tes:has(button:hover){
transform: translateX(-10px);
}
