*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #0d0d0d;
}
.label-text{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.label-div{
    margin: 20px 0;
    position: relative;
}
.label-div label{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;
    color: rgb(218, 223, 223);
    padding: 0 5px;
    transition: 0.5s;
}

.label-div input{
    width: 360px;
    height: 60px;
    color: #fff;
    font-size: 16px;
    padding: 0 15px;
    border: 1.2px solid rgb(228, 223, 223);
    background: transparent;
    outline: none;
    border-radius: 5px;
}

.label-div input:focus~label,
.label-div input:valid~label{
 top: 0;
background: #010031;
font-size: 14px;
}