*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
body{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,300px));
    align-content: center;
}
.card-container{
    width: 300px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    margin: 5px;
    transition: 0.4s;
    cursor: pointer;
}
.content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.card-container:hover .content{
    max-height: 200px;
}