.main-container{
    max-width: 1200px;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    text-align: center;
    align-items: start;
    gap: 30px;
    padding: 20px;
}

.card{
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    cursor: pointer;
    border-radius: 12px;
    position: relative;
}

.conatiner{
    color: #555;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    font-size: 15px;
    line-height: 1.6;
}
.card:hover .conatiner{
    max-height: 300px;
}
.header h1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}