.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,300px));
    align-items: start;
    text-align: center;
    gap: 2em;
}
.card{
    width: 300px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
}

.conatiner{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    color: #555;
    font-size: 15px;
    line-height: 1.5;
}

.card:hover .conatiner{
    max-height: 200px;
}
.header{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}