.main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,300px));
    align-items: center;
    gap: 2em;
    align-content: start;
}
.card-container{
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    overflow: auto;
    /* overflow-y: scroll;
    overflow-x: hidden; */
   border-radius: 12px;
}
img{
    width: 600px;
    height: 300px;
}
