.main-component{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,300px));
    align-items: center;
    text-align: center;
}
.card{
    padding: 15px;
    margin: 15px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
.sub-component{
    color:#555;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease;
    font-size: 15px;
    line-height: 1.6;
}

.card:hover .sub-component{
    max-height: 300px;
}