.main-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,300px));
    gap: 2em;
}
.box{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}