.main-component{
   width: 100vw;
   /* height: 100vh; */
   background-color: aqua;
}

.box{
    width: 450px;
    height: 950px;
}

#box1{
        background-color: blue;
        /* position: relative; */
        
}
#box2{
    background-color: blueviolet;
    position: sticky;
    top: 1px;
    height: 200px !important;
}
#box3{
    background-color: brown;
    /* position: absolute; */
    
}